<div class="eventContainer">
    <div *ngFor="let event of events; index as i">
        <section class="eventBackground">
            <div class="container event">

                <div class="container container-info">
                    <div class="wrapper">
                        <div *ngIf="event.image != ''; else noImage">
                            <img src="/assets/img/{{event.image}}" class="banner-image"/>
                        </div>
                        <ng-template #noImage>
                            <p></p>
                        </ng-template>
                        <h1 *ngIf="!event.favorite else notFavorite"> {{event.name}}</h1>
                    <ng-template #notFavorite>
                        <h1 *ngIf="event.favorite else notFavorite"> {{event.name}}</h1>
                    </ng-template>
                        <p>{{event.date}} {{event.time}}</p>
                     </div>
                    <app-event-details [event] = "event"></app-event-details>
                </div>                
            </div>
        </section>
    </div>    
</div>





